:root {
    --cor-primaria: black;
    --cor-secundaria: rgb(22, 169, 103);
    --cor-texto: white;
    --cor-cinza: rgb(26, 24, 24);
    --fonte-principal: 'Roboto', sans-serif;
    --espaco-pequeno: 8px;
    --espaco-medio: 12px;
    --espaco-grande: 20px;
}

/*CSS reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px dotted rgb(255, 255, 255); */
}


section {
    padding: 200px 5%;
    min-height: 435px;
    width: 100%;
}

h1,
h2,
h3 {
    color: var(--cor-texto);
}
.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
    flex-direction: row;
}

.menu-direito {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.menu-direito a {
    text-decoration: none;
    color: var(--cor-texto);
    display: flex;
    align-items: center;
}

.nome {
    font-size: 2rem;
}

.nome a {
    text-decoration: none;
    color: var(--cor-texto);
}

body {
    background-color: var(--cor-primaria);
    font-family: var(--fonte-principal);
    color: var(--cor-texto);
}

.menu{
    display: none;
}

.corpo {
    max-width: 94rem;
    margin: auto
}

#inicio {
    padding: 290px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background: rgba(0, 0, 0, 0.303);
    text-align: center;
    overflow: hidden;
}

#inicio #video-fundo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.texto-inicio {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 10%;
}

.texto-inicio h1 {
    font-size: 2rem;
    margin-bottom: 0.3rem;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.7);
    line-height: 1.1;
}

.texto-inicio h3 {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0.8rem;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.7);
    line-height: 1.25;
}

.btn {
    padding: var(--espaco-pequeno) var(--espaco-medio);
    border-radius: 0.25rem;
    font-weight: bold;
    line-height: 1.3;
}

.btn-cta {
    background-color: var(--cor-secundaria);
    text-decoration: none;
    color: var(--cor-texto);
}
#agende {
    display: flex;
    width: 18.75rem;
    margin: 0 auto;
    justify-content: center;
}

#funcoes {
    background-color: rgba(0, 0, 0, 0.756);
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 50vh;
    justify-content: space-around;
    margin: 0;
    line-height: 1.1;
}

.funcionalidade {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.funcoesbotoes {
    display: flex;
    align-items: baseline;
}

#funcoes .texto {
    justify-content: center;
    text-align: center;
    width: 80%;
}

#especificacoes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 5%;
}

.especific {
    display: flex;
}
#video-drone{
    height: auto;
    width: 100%;
    object-fit: contain;
}
.boxes {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.25rem;
}

.box-info {
    display: flex;
    height: 10rem;
    width: 100%;
    background-color: var(--cor-cinza);
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;

}
.depoimento {
    background-image: url("img/imagem 3.jpg");
    background-size: cover;
    background-position: center;

    color: white;

    padding: 30px;
}

.cliente {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.texto {
    width: 60%;
}

.texto h2 {
    font-size: 22px;
    margin: 0;
}

.texto p {
    font-size: 13px;
}

.texto span {
    font-size: 12px;
}

.cliente img {
    width: 100px;
    height: 100px;

    border-radius: 50%;
    border: 3px solid white;
}

.resultado {
    margin-top: 40px;
}

.estrelas {
    color: yellow;
    font-size: 30px;
}

.resultado h2 {
    font-size: 24px;
    margin: 5px 0;
}

.resultado p {
    font-size: 16px;
    margin: 0;
}

/* Regras de responsividade */

@media (min-width: 768px) {
    .menu{
        display: flex;
        font-size: 1rem;
        width: 25rem;
        justify-content: space-between;
    }
    .texto-inicio h1 {
        font-size: 6.25rem;
        text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.7);
    }

    .texto-inicio h3 {
        font-size: 1.25rem;
        text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.7);
    }
    .boxes {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }
    .box-info {
        width: 30%;

    }
}